/*
* @Author: Chen
* @Date:   2019-11-12 15:53:57
* @Last Modified by:   Chen
* @Last Modified time: 2019-11-15 10:07:16
*/
#btn-admin{
	float: right;
	margin-top: 10px;
	margin-right: 100px;
}
.content{
	margin-top: 20px;
	min-height: 300px;
}
.ck-content{
	min-height: 200px;
}
