/*顶部导航开始*/
.top{
	height: 50px;
	background-color: #f3f5f7;
}
.top .top-login{
	color: #ea675a;
}

/*
.dropdown:hover .dropdown-toggle{
	background-color: #fff;
}
.dropdown:hover .dropdown-layer{
	display: block;
}
.dropdown:hover .dropdown-icon{
	transform: rotate(180deg);
}
*/
.menu-active .dropdown-toggle{
	background-color: #fff;
}
.menu-active .dropdown-layer{
	display: block;
}
.menu-active .dropdown-icon{
	transform: rotate(180deg);
}
.top .dropdown{
	margin-left: 10px;
}
.top .dropdown-toggle{
	display: block;
	height: 50px;
	line-height: 50px;
	padding: 0 5px;
	text-align: center;
	/*background-color: #fff;*/
}
.dropdown-layer{
	top: 50px;
	border: 1px solid #f3f5f7;
	background-color: #fff;
	overflow: hidden;
	border-top: none;
	z-index: 999;
}
.dropdown-layer li{
	height: 30px;
	padding: 0 5px;
	line-height: 30px;
	white-space: nowrap;
	background-color: #fff;
}
.dropdown-layer li:hover{
	background-color: #f3f5f7;
}
.top-left li{
	height: 50px;
	line-height: 50px;
	margin-right: 10px;
}
/*顶部导航结束*/

/*头部搜索区域开始*/
.header{
	height: 100px;
	background-color: #fff;
}
.header-logo{
	display: block;
	width: 248px;
	height: 70px;
	margin-top: 15px;
	background-image: url(../images/header-logo.png);
	background-repeat: no-repeat;
}
.search{
	position: relative;
	margin-top: 30px;
	margin-left: 200px;
}
.search .search-input{
	width: 400px;
	height: 40px;
	padding-left: 8px;
	outline: none;
	border: 1px solid #ccc;
	box-sizing: border-box;
}
.search .search-btn{
	width: 80px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	outline: none;
	border: none;
	color: #fff;
	cursor: pointer;
	background-color: #000;
}
.search-layer{
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ccc;
	border-top: none;
	box-sizing: border-box;
	display: none;
}
.search-layer li{
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	box-sizing: border-box;
	cursor: pointer;
}
.search-layer li:hover{
	background-color: #f3f5f7;
}
/*头部搜索区域结束*/

/*焦点区域开始*/
.focus{
	height: 400px;
	background-color: purple;
}
/*焦点区域结束*/

/*今日热销开始*/
.todays{
	height: 200px;
	background-color: skyblue;
}
/*今日热销结束*/

/*楼层开始*/
.floor{
	height: 260px;
	background-color: red;
}
/*楼层结束*/