*{
	margin: 0;
	padding: 0;
}
.login-form{
	width: 400px;
	padding:20px;
	border: 1px solid #ccc;
	margin: 50px auto;
}
.login-title{
	font-weight: 800;
	text-align: center;
}
.login-form-button{
	display: block;
	width: 100px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}
