/*
* @Author: Chen
* @Date:   2019-09-29 09:37:57
* @Last Modified by:   Chen
* @Last Modified time: 2019-10-13 17:30:32
*/
/*body{
	height: 3000px;
}*/
.link{
	text-decoration: none !important;
}
.link:hover{
	color:#f65a8a !important;
}
#blog-navbar .navbar-nav li{
	margin-right: 20px;
}
#blog-navbar .navbar-nav li a{
	font-size: 16px;
}
#blog-navbar .navbar-nav li a:hover{
	color:#f65a8a;
}
#blog-navbar .navbar-nav .active a{
	font-weight: 600;
	color: #f65a8a;
	background-color: transparent;
}