/*
* @Author: Chen
* @Date:   2019-12-02 09:31:29
* @Last Modified by:   Chen
* @Last Modified time: 2019-12-04 09:49:25
*/
.Login{
	width: 300px;
	margin: 50px auto;
	padding:20px;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 0 5px 5px rgba(0,0,0,0.2);
	background-color: rgba(0,0,0,0.5);
}
.btn-login{
	width: 100%;
}