/*
* @Author: Chen
* @Date:   2019-12-02 09:31:29
* @Last Modified by:   Chen
* @Last Modified time: 2019-12-10 10:36:35
*/
.CategoryList .ant-table-body{
	min-height: 600px;
}
.CategoryList .content{
	margin-top: 15px;
}
.CategoryList .btn{
	height: 40px;
}
.CategoryList .btn-add{
	float: right;
}